<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
		<title>Contact | CMD Amsterdam</title>
	</head>
	<body>
		<header class="header container">
			<% include ../partials/header %>
		</header>
		<main class="main main-contact">
			<% include ../partials/hero-image %>
			<section class="col col-2 container">
					<% include ../partials/form %>
			</section>
			<section class="col col-3 container">
				<img class="col-img col-img--form" src="./../../../assets/img/content_img_cmd_contact_1.jpg" alt="">
				<strong>Communication and Multimedia Design Amsterdam</strong>
				<p>Hogeschool van Amsterdam | Theo Thijssenhuis</p>
				<a href="http://www.hva.nl/cmd">www.hva.nl/cmd</a>
				<ul>
					<li>Wibautstraat 2-4</li>
					<li>1091 GM</li>
					<li>Amsterdam</li>
					<li>+31 20 595 1855</li>
					<li><a href="mailto:info-cmd@hva.nl">info-cmd@hva.nl</a></li>
				</ul>
			</section>
			<section class="col col-4 container">
				<h1 class="col-title">Contactpersonen</h1>
				<ul>
					<li>
						<img class="col-img img-list" src="./../../../assets/img/content_img_cmd_contact_2.jpg" alt="">
						<span>Harry Zengerink</span>
						<p>Opleidingsmanager</p>
						<a href="mailto:h.zengerink@hva.nl">Mail</a>
						<a href="tel:+31621158983">+31 (0)6 21 15 89 83</a>
					</li>
					<li>
						<img class="col-img img-list" src="./../../../assets/img/content_img_cmd_contact_3.jpg" alt="">
						<span>Marielle Beekman</span>
						<p>Hoofd onderwijsbureau</p>
						<a href="mailto:m.beekman@hva.nl">Mail</a>
						<a href="tel:+310205951855">+31 (0) 20 595 1855</a>
					</li>
					<li>
						<img class="col-img img-list" src="./../../../assets/img/content_img_cmd_contact_4.jpg" alt="">
						<span>Jos Kok</span>
						<p>Stagecoördinator</p>
						<a href="mailto:stage-cmd@hva.nl">Mail</a>
						<a href="tel:+31621157122">+31 (0)6 21 15 71 22</a>
					</li>
					<li>
						<img class="col-img img-list" src="./../../../assets/img/content_img_cmd_contact_5.jpg" alt="">
						<span>Matthijs Blekemolen</span>
						<p>Externe samenwerking</p>
						<a href="mailto:m.blekemolen@hva.nl">Mail</a>
						<a href="tel:+31621156186">+31 (0)6 21 15 61 86</a>
					</li>
				</ul>
			</section>
		</main>
		<footer class="footer container">
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
