<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header></header>
		<main></main>
		<footer></footer>
		<script type="text/javascript" src="./../../js/index.js"></script>
	</body>
</html>
