<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
		<title>Studentenwerk | CMD Amsterdam</title>
	</head>
	<body>
		<header class="header container">
			<% include ../partials/header %>
		</header>
		<main class="main">
			<% include ../partials/hero-image %>
			<section class="col col-2 container">
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_2.jpg" alt="">
					<h3 class="item-title">The Game Changer</h3>
					<p class="item-sub">The Game Changer houdt de game-uren van uw kind bij. Als de tijd verstreken is kan uw kind niet meer spelen. Hoe eerder je stopt met gamen, hoe meer bonusuren je krijgt.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_3.jpg" alt="">
					<h3 class="item-title">Rupsie</h3>
					<p class="item-sub">Rupsie is een app voor kinderen van 5-6 jaar. Met Rupsie maken kinderen, in combinatie met AR, vrolijke deuntjes voor beestjes. Het combineert op slimme wijze de fysieke en digitale wereld.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_4.jpg" alt="">
					<h3 class="item-title">Exclusive design</h3>
					<p class="item-sub">Deze groep studenten heeft een tailor made website gebouwd voor Marie, een Dove ontwerpster, en voor Marijn, een developer die motorisch beperkt is. Een website vol unieke user interface experimenten.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_5.jpg" alt="">
					<h3 class="item-title">Mantelzorg assistent</h3>
					<p class="item-sub">Met 'Mantelzorg assistent' kan je als mantelzorger op een laagdrempelige manier ontspanning, contact (met andere mantelzorgers) en inzicht krijgen, om tot rust te komen.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_6.jpg" alt="">
					<h3 class="item-title">HUB</h3>
					<p class="item-sub">Met HUB zal het vervoer van bedrijven in de binnenstad op een duurzame manier veranderen. Via een app kunnen werknemers slimme voertuigen - met digitaal slot - reserveren, beheren en classificeren.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_6.jpg" alt="">
					<h3 class="item-title">ParApp</h3>
					<p class="item-sub">Door persoonlijke Spotify data te koppelen aan de Paradiso agenda ontvang je een gepersonaliseerd overzicht van alle optredens van jouw favoriete artiesten via Social Messaging.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_7.jpg" alt="">
					<h3 class="item-title">BLOOK</h3>
					<p class="item-sub">BLOOK is een interactieve tafel die een brug slaat tussen fysieke boekhandels en online retailers. Hierdoor blijven winkels competitief en de nostalgie behouden.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_8.jpg" alt="">
					<h3 class="item-title">Stressvrij Schiphol</h3>
					<p class="item-sub">Stressvrij Schiphol geeft de reiziger op elke locatie op Schiphol inzicht in de drukte op dat moment en in de toekomst, hiermee worden de rijen gereduceerd en kan de passagier stressvrij op reis.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_9.jpg" alt="">
					<h3 class="item-title">Tracer Parcel Delivery Service</h3>
					<p class="item-sub">De producten bestaan uit twee applicaties en één Google Glass, waar rekening is gehouden met de gebruikers: één applicatie voor de gebruiker en de andere met de Google Glass voor de courier.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_10.jpg" alt="">
					<h3 class="item-title">Spotify Together</h3>
					<p class="item-sub">Spotify Together is een product waarbij je gesynchroniseerde playlisten kunt maken met meerdere personen. In de playlist kunnen nummers toegevoegd en geliked worden om gezamenlijk de sfeer te bepalen.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_11.jpg" alt="">
					<h3 class="item-title">Ludicity</h3>
					<p class="item-sub">Onrustige dromen of moeilijk slapen? Lucidity helpt. Leer dromen te sturen en bepaal zelf wat er 's nachts gebeurt. Neem controle over je nachtrust en versla elke nachtmerrie!</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_12.jpg" alt="">
					<h3 class="item-title">Loop mijn lijst</h3>
					<p class="item-sub">Als onderdeel van de Appie app helpt de 'Loop Mijn Lijst'-applicatie klanten van de Albert Heijn (vooral met een visuele beperking) bij het doen van hun boodschappen.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
				<article class="col-item">
					<img class="item-img img" src="./../../../assets/img/content_img_cmd_studentenwerk_13.jpg" alt="">
					<h3 class="item-title">Deliverbee</h3>
					<p class="item-sub">Deliverbee brengt pakketbezorgers en consumenten met elkaar in contact. De consument kan een verzoek doen om zijn/haar pakket naar een andere locatie te laten bezorgen en kan een fooi toevoegen.</p>
					<a class="item-link link" href="https://www.cmd-amsterdam.nl/portfolio/the-game-changer/">Meer info</a>
				</article>
			</section>
		</main>
		<footer class="footer container">
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
