<form class="col-form">
	<legend class="form-title">Contact</legend>
	<label class="input-label" for="naam">Naam</label>
	<input class="input-field input-field--inactive" type="text" id="naam" name="name">
	<label class="input-label" for="email">Email</label>
	<input class="input-field input-field--inactive" type="text" id="email" name="email">
	<label class="input-label" for="onderwerp">Onderwerp</label>
	<input class="input-field input-field--inactive" type="text" id="onderwerp" name="subject">
	<label class="input-label" for="bericht">Bericht</label>
	<textarea class="input-field" id="bericht"name="message" rows="8" cols="80"></textarea>
	<button class="btn form-btn" type="submit" name="button">verstuur</button>
</form>
