<img class="header-logo" src="./../../../assets/img/hva_logo.png" alt="">
<button class="nav-btn nav-btn--inactive" type="button" name="button">
	<span class="nav-btn--line"></span>
	<span class="nav-btn--line"></span>
	<span class="nav-btn--line"></span>
</button>
