<section class="hero-section">
	<article class="hero-content">
		<span>CMD Amsterdam</span>
		<p>Opleiding voor digital interactive design</p>
	</article>
	<img class="hero-image" src="./../../../assets/img/hero_header_cmd.jpg" alt="">
</section>
